.
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="main_cadastro.css" />
    <title>Page Title</title>
</head>

<body>

    <div class="container">
        
        <p class="title">Cadastro</p>
        <p>
            <input type="text" size="60px" name="search" placeholder="Nome" />
        </p>
        <p>
            <input type="text" size="60px" name="search" placeholder="Sobrenome" />
        </p>
        <p>
            <input type="text" size="60px" name="search" placeholder="Telefone" />
        </p>
        <p>
            <input type="mail" size="60px" name="search" placeholder="Email" />
        </p>
        <p>
            <input type="datetime" size="60px" name="search" placeholder="Data" />
        </p>
        <p>
            <input type="address" size="60px" name="search" placeholder="Endereço" />
        </p>
        <p>
            <input type="text" size="60px" name="search" placeholder="Bairro" />
        </p>
        <p>
            <input type="text" size="60px" name="search" placeholder="Numero" />
        </p>
        <p>
            <input type="text" size="60px" name="search" placeholder="Telefone" />
        </p>
        <p>
            <input type="password" size="60px" name="search" placeholder="Senha" />
        </p>

        <form>
            <input type="checkbox" name="Termos" value="Termo"> Concordo com os Termos de Uso e a Politica de Privacidade
        </form>

        <p>
            <button class="button" onClick="cadastro_usuario()">Cadastro</button>
        </p>
    </div>

</body>

<footer>
    <div class="rodape">
        <p></p>

</footer>

<script>

    function cadastro_usuario() {
        window.location = "primeira.html"
    }

</script>

</html>